<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bla.imagefetch.common.dal.imagefactory.auto.mapper.DBPreCheckMapper">
    <select id="dbColumnCheck" resultType="String">
        SELECT CONCAT('表结构不一致 tbName:',tb_name,' 期望字段:',exp_columns,' 数据库中字段:',db_columns) as msg
        FROM (
        SELECT
            COUNT(*)= 8 as fg,'task_detail' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SCRIPT,CONTENT,EXT_INFO,SERVICE_NAME,INSTANCE_NAME,GMT_CREATE,GMT_MODIFIED' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'task_detail'
            AND COLUMN_NAME in('ID','SCRIPT','CONTENT','EXT_INFO','SERVICE_NAME','INSTANCE_NAME','GMT_CREATE','GMT_MODIFIED')
        GROUP BY TABLE_NAME
        )a
        WHERE fg=0
    </select>
</mapper>
