<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bla.imagefetch.common.dal.imagefactory.auto.mapper.TaskDetailDOMapper">
    <!-- 自动生成,请修改 TASK_DETAIL.xml -->
    <resultMap id="BaseResultMap"  type="com.bla.imagefetch.common.dal.imagefactory.auto.dataobject.TaskDetailDO">
        <id column="ID" property="id" jdbcType="INTEGER" javaType="Integer"/>
        <result column="RESULT" property="result" jdbcType="VARCHAR" javaType="String"/>
        <result column="SCRIPT" property="script" jdbcType="VARCHAR" javaType="String"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" javaType="String"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR" javaType="String"/>
        <result column="EXT_INFO" property="extInfo" jdbcType="VARCHAR" javaType="String"/>
        <result column="SERVICE_NAME" property="serviceName" jdbcType="VARCHAR" javaType="String"/>
        <result column="INSTANCE_NAME" property="instanceName" jdbcType="VARCHAR" javaType="String"/>
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_SF_Column_List">
        sf.ID,sf.SCRIPT,sf.CONTENT,sf.EXT_INFO,sf.SERVICE_NAME
        ,sf.INSTANCE_NAME,sf.STATUS,sf.RESULT,sf.GMT_CREATE,sf.GMT_MODIFIED
    </sql>
    <sql id="Base_Column_List">
        ID,SCRIPT,CONTENT,EXT_INFO,SERVICE_NAME 
        ,INSTANCE_NAME,STATUS,RESULT,GMT_CREATE,GMT_MODIFIED
    </sql>


    <!--不带Id插入表:task_detail-->
    <insert id="insertWithoutID"  >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        <![CDATA[
        INSERT INTO task_detail(
            ID
            ,SCRIPT
            ,CONTENT
            ,EXT_INFO
            ,SERVICE_NAME
            ,INSTANCE_NAME
            ,STATUS
            ,RESULT
            ,GMT_CREATE
            ,GMT_MODIFIED
        )VALUES(
             null
            , #{script,jdbcType=VARCHAR}
            , #{content,jdbcType=VARCHAR}
            , #{extInfo,jdbcType=VARCHAR}
            , #{serviceName,jdbcType=VARCHAR}
            , #{instanceName,jdbcType=VARCHAR}
            , #{status,jdbcType=VARCHAR}
            , #{result,jdbcType=VARCHAR}
            , now()
            , now()
        )
        ]]>
    </insert>

    <!--带Id插入表:task_detail-->
    <insert id="insertWithID"  >
        <![CDATA[
        INSERT INTO task_detail(
            ID
            ,SCRIPT
            ,CONTENT
            ,EXT_INFO
            ,SERVICE_NAME
            ,INSTANCE_NAME
            ,STATUS
            ,RESULT
            ,GMT_CREATE
            ,GMT_MODIFIED
        )VALUES(
             #{id,jdbcType=INTEGER}
            , #{script,jdbcType=VARCHAR}
            , #{content,jdbcType=VARCHAR}
            , #{extInfo,jdbcType=VARCHAR}
            , #{serviceName,jdbcType=VARCHAR}
            , #{instanceName,jdbcType=VARCHAR}
            , #{status,jdbcType=VARCHAR}
            , #{result,jdbcType=VARCHAR}
            , now()
            , now()
        )
        ]]>
    </insert>

    <!--不带Id批量插入表:task_detail-->
    <insert id="insertBatchWithoutID"  >
        INSERT INTO task_detail(
            ID
            ,SCRIPT
            ,CONTENT
            ,EXT_INFO
            ,SERVICE_NAME
            ,INSTANCE_NAME
            ,STATUS
            ,RESULT
            ,GMT_CREATE
            ,GMT_MODIFIED
        )VALUES
        <foreach collection="list" item="item" separator=",">
            (
                 null
                , #{item.script,jdbcType=VARCHAR}
                , #{item.content,jdbcType=VARCHAR}
                , #{item.extInfo,jdbcType=VARCHAR}
                , #{item.serviceName,jdbcType=VARCHAR}
                , #{item.instanceName,jdbcType=VARCHAR}
                , #{status,jdbcType=VARCHAR}
                , #{result,jdbcType=VARCHAR}
                , now()
                , now()
            )
        </foreach>
    </insert>

    <!--根据Id和非null项部分更新表:task_detail-->
    <update id="updateAll"  >
        UPDATE /*MS-TASK-DETAIL-UPDATEALL*/ task_detail
        SET
            GMT_MODIFIED     = now()
        <if test="script != null and script != &quot;&quot;">
            ,SCRIPT          = #{script,jdbcType=VARCHAR}
        </if>
        <if test="content != null and content != &quot;&quot;">
            ,CONTENT         = #{content,jdbcType=VARCHAR}
        </if>
        <if test="extInfo != null and extInfo != &quot;&quot;">
            ,EXT_INFO        = #{extInfo,jdbcType=VARCHAR}
        </if>
        <if test="serviceName != null and serviceName != &quot;&quot;">
            ,SERVICE_NAME    = #{serviceName,jdbcType=VARCHAR}
        </if>
        <if test="instanceName != null and instanceName != &quot;&quot;">
            ,INSTANCE_NAME   = #{instanceName,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status != &quot;&quot;">
            ,STATUS          = #{status,jdbcType=VARCHAR}
        </if>
        <if test="result != null and result != &quot;&quot;">
            ,RESULT          = #{result,jdbcType=VARCHAR}
        </if>
        WHERE
            ID              = #{id,jdbcType=INTEGER}
    </update>

    <!--根据Id删除数据:task_detail-->
    <delete id="deleteById"  >
        <![CDATA[
        DELETE /*MS-TASK-DETAIL-DELETEBYID*/ FROM task_detail
        WHERE
            ID = #{id,jdbcType=INTEGER}
        ]]>
    </delete>

    <!--根据Id获取数据:task_detail-->
    <select id="queryById" resultMap="BaseResultMap" >
        SELECT /*MS-TASK-DETAIL-QUERYBYID*/  <include refid="Base_Column_List" />
        FROM task_detail
        WHERE
        <![CDATA[
            ID = #{id,jdbcType=INTEGER}
        ]]>
    </select>

    <!--根据普通索引InstanceName和可选的status获取数据:task_detail-->
    <select id="queryByInstanceNameAndStatus" resultMap="BaseResultMap" >
        SELECT /*MS-TASK-DETAIL-QUERYBYINSTANCENAMEANDSTATUS*/  <include refid="Base_Column_List" />
        FROM task_detail
        WHERE
        INSTANCE_NAME   = #{instanceName,jdbcType=VARCHAR}
        <if test="status != null and status != ''">
            AND
            STATUS          = #{status,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
